{% extends "templates/base.twig" %}

{% block content %}

<div class="user_info">

	{{image}}<br>
	{{name}}<br>
	{{role}}<br>
	{{dept}}<br>

	<div class="bio">
		{{bio}}<br>
	</div>

</div>


	<div class="blog-list">

		{% for post in posts %}
			
			{% include 'templates/partials/post-summary.twig' %}
			
		{% endfor %}

	</div>


{% endblock %}