<header class="banner">
    <div class="container">

         
        {# <nav class="nav-primary collapse">

        {% for item in menu.get_items %}
            <li class="nav-main-item {{item.classes | join(' ')}}">
                <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                {% if item.get_children %}
                    <ul class="nav-drop">
                        {% for child in item.get_children %}
                            <li class="nav-drop-item">
                                <a href="{{child.get_link}}">{{child.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

        </nav> #}




        <nav class="navbar navbar-default nav-primary">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                {% for item in menu.get_items %}
                    <li class="nav-main-item fade-transition {{item.classes | join(' ')}}">
                        <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item">
                                        <a href="{{child.get_link}}">{{child.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>

            </div>
          </div>
        </nav>



        <div id="header-image-wrap">

            <div id="header-image">
                {{header_image}}
            </div>

        </div>


    </div>
</header>
