{% extends "templates/base.twig" %}

{% block content %}
<!--
post.title 
post.content
date
author
category.name 
category.link
user_img
user_link

-->

<article {{ function('post_class') }}>

    <header>

        {{ image }}

        <div class="categories">
            {% for term in terms %}
                <a href="{{ term.term_link }}">
                    <span class="btn category">
                        {{ term.name }}
                    </span>     
                </a>
            {% endfor %}
        </div>

        <h1 class="entry-title">{{ post.title }}</h1>

        <div class="author-img"><a href="{{ user_link }}">{{ user_img }}</a></div>
        <div class="author"><a href="{{ user_link }}">{{ author }}</a></div>

        <div class="date"> {{ date }}</div>


    </header>

    <div class="entry-content">
        {{ post.content }}


    </div>
</article>

    

{% endblock %}