{% extends "templates/base.twig" %}

{% block content %}
<!--
post.title 
post.content
date
author
category.name 
category.link
user_img
user_link

-->
    

<article {{ function('post_class') }}>

    <header>

        {{ image }}

        {% for category in categories %} 
            <a href = "{{ category.link }}">{{ category.name }}</a>
        {% endfor %}

        <h1 class="entry-title">{{ post.title }}</h1>

        <div class="author-img"><a href="{{ user_link }}">{{ user_img }}</a></div>
        <div class="author"><a href="{{ user_link }}">{{ author }}</a></div>

        <div class="date"> {{ date }}</div>


    </header>

    <div class="entry-content">
        {{ post.content }}


    </div>
</article>

    

{% endblock %}