<ul class="social">

	<li class="first">
		<a href="https://www.facebook.com/leicestercollege" target="_blank">
			<span class="icon-facebook_circleX">
				<img src="{{ theme.uri }}/img_tmp/facebook.png" style="display:inline;">
			</span>
		</a>
	</li>

	<li>
		<a href="http://www.twitter.com/leicestercoll" target="_blank">
			<span class="icon-twitter_circleX">
				<img src="{{ theme.uri }}/img_tmp/twitter.png" style="display:inline;">
			</span>
		</a>
	</li>

	<li>
		<a href="https://www.instagram.com/leicestercoll/?hl=en" target="_blank">
			<span class="icon-instagram_circleX">
				<img src="{{ theme.uri }}/img_tmp/instagram.png" style="display:inline;">
			</span>
		</a>
	</li>

	<li>
		<a href="https://www.snapchat.com/" target="_blank">
			<span class="icon-snapchatX">
				<img src="{{ theme.uri }}/img_tmp/snapchat.png" style="display:inline;">
			</span>
		</a>
	</li>

	<li class="last">
		<a href="https://uk.linkedin.com/company/leicester-college" target="_blank">
			<span class="icon-linkdinX">
				<img src="{{ theme.uri }}/img_tmp/linkedin.png" style="display:inline;">
			</span>
		</a>
	</li>

</ul>
