<!--
subscribers widget data :

{{ contributors | print_r }}
{{ name }}
{{ image }}

-->

{# <pre>{{ subscribers | print_r }}</pre> #}

<ul class="contributors">

{% for contributor in subscribers %}

	<li>
		<a href="{{ contributor.url }}" >
			{{ contributor.image }}
		</a>
	</li>

{% endfor %}

</ul>